<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        color: #222;
    }

    form {
        min-width: 600px;
        margin: 0 auto;
    }

    form label {
        display: flex;
        flex-direction: column;
    }

    form label input {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 0.375rem;
    }

    .hide {
        display: none;
    }

    .input_senha,
    .input_chave {
        display: none;
    }

    .show {
        display: flex;
    }

    .container-btn {
        max-height: 50px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }

    .container-btn input {
        height: 100%;
        flex: 1;
        padding: 5px 10px;
        background-color: transparent;
        border: 1px solid #ddd;
        border-radius: 0.375rem;
        color: #222;
    }

    .container-btn input:hover {
        background-color: rgba(22, 22, 22, .5);
        color: #fff;
        cursor: pointer;
    }

    .container-btn input:disabled {
        background-color: #ccc;
        color: rgba(22, 22, 22, .4);
        cursor: not-allowed;
    }

    .container-btn input:disabled:hover {
        color: rgba(22, 22, 22, .4);
    }

    .container-btn input:nth-child(3) {
        flex: 2;
    }
</style>
<form class="form_base teste" method="POST" action="/zabbix">
    <label class="input_zabbix_ip">Zabbix/IP (server)
        <input type="text" name="zabbix_ip" required autofocus />
    </label>
    <label class="input_zabbix_hostname">Zabbix/Hostname
        <input type="text" name="zabbix_host_name" required />
    </label>
    <label class="input_host_ip">Host/IP
        <input type="text" name="host_ip" required />
    </label>
    <label class="input_host_porta">Host/Porta (default 22)
        <input type="text" name="host_port" />
    </label>
    <label class="input_host_usuario">Host/Usuário
        <input type="text" name="host_user" required />
    </label>
    <label class="input_senha">Host/Senha <input class="field_input_senha" type="text" name="host_pass" /></label>
    <label class="input_chave">Host/Chave <input class="field_input_chave" type="file" name="host_key" /></label>

    <div class="container-btn">
        <input type="button" class="btn_senha" value="Auth por Senha" />
        <input type="button" class="btn_chave" value="Auth por Chave" />

        <input type="submit" class="btn_instalar"value="Instalar" disabled />
    </div>
</form>

<script>

    let form = document.querySelector(".teste")

    let label_zabbix_ip = document.querySelector(".input_zabbix_ip")
    let label_zabbix_hostname = document.querySelector(".input_zabbix_hostname")
    let label_host_ip = document.querySelector(".input_host_ip")
    let label_host_porta = document.querySelector(".input_host_porta")
    let label_host_usuario = document.querySelector(".input_host_usuario")

    let label_senha = document.querySelector(".input_senha")
    let input_senha = document.querySelector(".field_input_senha")

    let label_chave = document.querySelector(".input_chave")
    let input_chave = document.querySelector(".field_input_chave")
  
    let ctn_buttons = document.querySelector(".container-btn")

    let btn_senha = document.querySelector(".btn_senha")
    let btn_chave = document.querySelector(".btn_chave")
    let btn_instalar = document.querySelector(".btn_instalar")

    let formulario = document.querySelector(".form_base")

    btn_senha.addEventListener("click", (e) => {
        e.preventDefault()

        label_chave.classList.add("hide")
        label_chave.classList.remove("show")
        label_senha.classList.toggle("show")   
        
        btn_senha.classList.toggle("true123")
        if(btn_senha.classList.contains("true123")){
            btn_instalar.removeAttribute("disabled")
            btn_chave.setAttribute("disabled","")
            input_senha.setAttribute("required","")
        }else{
            btn_instalar.setAttribute("disabled","")
            btn_chave.removeAttribute("disabled")
            input_senha.removeAttribute("required")
        }
        
    })

    btn_chave.addEventListener("click", (e) => {
        e.preventDefault()
        label_senha.classList.add("hide")
        label_senha.classList.remove("show")
        label_chave.classList.toggle("show")

        btn_chave.classList.toggle("true123")
        if(btn_chave.classList.contains("true123")){
            btn_instalar.removeAttribute("disabled")
            btn_senha.setAttribute("disabled","")
            input_chave.setAttribute("required","")
        }else{
            btn_instalar.setAttribute("disabled","")
            btn_senha.removeAttribute("disabled")
            input_chave.removeAttribute("required")
        }

    })

    form.addEventListener("submit", () => {
        form.classList.add("hide")
    })

</script>